HELP.md
target/
pom.xml
nbactions.xml


e-commerce/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
e-commerce/.idea
e-commerce/*.iws
e-commerce/*.iml
e-commerce/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/e-commerce/.vscode/
!**/vscode/**

# Fichiers de configuration locaux et sensibles
application-local.properties
application-dev.properties # Si chaque dev a un "dev" mais avec des configs différentes
config/override.properties
secrets.properties
*.pdf
